.banner{
    justify-items: center;
    margin:auto ;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, black, rgba(7, 2, 17, 0.00)),url('images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
}

.banner-title{
    padding:170px 531px 0px 530px;
    margin-bottom: -10px;
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-description{
  margin-top: 16px;
    color: white;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 

}